# Node
node_modules/
npm-debug.log*

# Vite build output
dist/

# Firebase
.firebase/
*-debug.log
firebase-debug.log*

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local
